body{
	//background-color: #fff28d !important;
	font : 14px/24px "Segoe UI", Times, serif,Arial, Helvetica, sans-serif;
	width :95%;
	max-width: 1400px;
	/*min-width: 600px;*/
	margin-left:auto;
	margin-right:auto;
	
//background-image: linear-gradient(135deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);

}



/* ---------------------------- HEADER --------------------- */

#login {
  border-radius: 25px;
  border: 2px solid rgba(255,0,0, 0.6);
  //background: rgba(255,0,0, 0.6);
  padding: 0px 10px; 
  color: rgba(255,255,255, 1);
	font-weight: bold;
	display: inline-block;
	padding: 0 0.5em;
   
}
#logo{
	display:block; 
	float: left;
	width: 25px;
	margin-right: 3px;
}
header .li .p{

	font-weight: bold;
}
/* ----------------------------END HEADER --------------------- */

.accueilInfo{
height: auto;
background: rgba(255,255,255, 0.7);
margin:  10px 0px 20px 0px;
padding: 40px;
border-radius: 25px;


}

.loginFormCard{

 
	max-width: 400px;
	margin-right: auto; 
	margin-left: auto; 
}
.sectionTitle{
	
	font-size: 3rem;
	font-weight: bold; 
	color: black;
	text-align: center;
	//border-bottom: 1rem solid yellow;
	//width: 40%;
	display: table;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	padding-bottom: 5px;
	text-decoration: underline;
	text-decoration-color: rgba(255,9,0, 0.1);
}

.sectionTitle p{
	
	margin-bottom: -60px;
}
	
th{	
	border-collapse: collapse;
	/*border: 0px solid black;*/
	color: black;
	text-align: center;
	border-bottom: 2px solid black;
	font-size: 1.4em; 					

}

			
td{

	border-collapse: collapse;
	border: 0px solid white;
	padding: 5px 10px;
	background: rgba(0,0,0, 0.08);
	font-size: 0.8em; 
	vertical-align: center;
}




/* ---------------------------- FOOTER --------------------- */
/* Bloc de footer */
footer{ 
	border-top: 4px solid rgba(0,0,0, 1);
	width: 100%;

	}

/* ----------------------------END FOOTER --------------------- */
#loginFormCard{
	min-width: 350px;
	
}

.display-4 {
	margin-top: -10px;
}

#loginForm .warningMessage{
	color: rgba(255,0,0, 0.6);
	text-align: right;
	font-size: 1rem;
}
#navbar_footer{
	width: 100%;
		
}

#tableTache {
	background-color: none;
	margin-top: -10px;
	width: 100%;
}
#tableTache td {
	
	background-color: white;
	font-size: 0.75rem;
	padding: 5px 0;
}

#tableTache th {
	background-color: none;
	font-size: 1rem;
	padding: 7px 0 5px 0
}

.navbar {
	border-bottom: 0px solid rgba(0,0,0, 1);
	background-color: none;
	
}

.navbar li {
	font-size: 1.2rem;
	
}

 

.bg-none {
  background-color: none !important;
}


.bg-white {
  background-color: rgba(255,255,255, 0.6) !important;
  border:  1px solid rgba(0,0,0, 0.06);

}






.card{
	border:  0px solid rgba(0,0,0, 0.06);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
	margin: 10px 0;
	border-radius: 10px;
	


}

.card-body{
	border-radius: 10px;
	padding-top: 1.0rem;
}

.card-header{
	border-radius: 10px 10px 0px 0px !important;
}




.card-title{
	color: rgba(0, 0, 0, 0.9);
	font-size: 20px;
	
}
.card a:hover{
	text-decoration: none !important;
}



.card-text{
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
	min-height: 100px;
	color: rgba(0, 0, 0, 0.5);
	font-weight: normal;
}

.rounded {
	border-radius: 25px !important;
	padding: 3px 13px;  


}
.btn{
	//border:  0px solid rgba(0,0,0, 0.5);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
	
}
.btn-more {
	border-radius: 55px;
	padding: 15px 25px 17px 25px;
	
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.stats {
	
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}
.stats div{
	
	text-align: center; 
	margin: 0px 50px;
	font-size: 1.25rem;
    font-weight: 300;
}

.stats span {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

.stats-card {
	padding-top: 0.5rem;
	padding-bottom: 0rem;
}
.stats-card span {
    font-size: 0.8rem;
    font-weight: 300;
	color: rgba(0, 0, 0, 0.5);

}
.stats-card div{
	text-align: center; 
	margin: 0px 10px;
	font-size: 1.25rem;
    font-weight: 100;
}
.img-mainImg {
    width: 100%;
    height: auto;
	
    
}

}
